amqp==5.3.1
attrs==25.3.0
bcrypt==4.0.1
bidict==0.23.1
billiard==4.2.2
blinker==1.9.0
cachelib==0.13.0
celery==5.5.3
certifi==2025.8.3
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudinary==1.44.1
colorama==0.4.6
cryptography==45.0.6
defusedxml==0.7.1
Deprecated==1.2.18
dnspython==2.7.0
email-validator==2.0.0
flasgger==0.9.7.1
Flask==3.1.1
flask-cors==6.0.1
Flask-Limiter==3.5.0
Flask-Mail==0.10.0
Flask-PyMongo==3.0.1
Flask-Session==0.5.0
Flask-SocketIO==5.5.1
fonttools==4.59.0
fpdf==1.7.2
fpdf2==2.8.3
h11==0.16.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kombu==5.5.4
limits==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mistune==3.1.3
mongoengine==0.27.0
ordered-set==4.1.0
packaging==25.0
passlib==1.7.4
pillow==11.3.0
prompt_toolkit==3.0.52
pycparser==2.22
Pygments==2.19.2
PyJWT==2.10.1
pymongo==4.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-engineio==4.12.2
python-slugify==8.0.4
python-socketio==5.13.0
PyYAML==6.0.2
qrcode==8.2
redis==5.0.0
referencing==0.36.2
reportlab==4.4.4
requests==2.32.5
rich==13.9.4
rpds-py==0.27.0
sib-api-v3-sdk==7.6.0
simple-websocket==1.1.0
six==1.17.0
slugify==0.0.1
text-unidecode==1.3
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
Werkzeug==3.1.3
wrapt==1.17.2
wsproto==1.2.0
gunicorn==23.0.0
eventlet==0.40.4
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client